<!DOCTYPE html>
<html>
<head>
    <title>Laporan Absensi</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Laporan Absensi</h1>
    <table>
        <tr>
            <th>Nama</th>
            <th>ID Karyawan</th>
            <th>Waktu Check-in</th>
        </tr>
        {% for item in report_data %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>